#Backend
/ProgramingForum/.idea
/ProgramingForum/target
/ProgramingForum/ProgramingForum.iml

#Front-end
/ForumFrontEnd/node_modules
/ForumFrontEnd/.idea
/ForumFrontEnd/.vscode
/ForumFrontEnd/src/app/core/sevices/security.service.ts
