<section class="testimonial py-5" id="login-form">
  <div class="container">
    <div class="row">
      <div class="col-md-8 py-5 bg-color text-white text-center">
        <div class="card-body">
          <h2 class="py-3">{{translate.data.label.registration | translate}}</h2>
          <p>{{translate.data.label.content | translate}}</p>
        </div>
      </div>
      <div class="col-md-4 py-5 border">
        <h2 class="py-3">{{translate.data.label.login_now | translate}}</h2>
        <form (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm">

          <div class="form-row">
            <div class="form-group col-md-12">
              <input id="fullName" name="fullName" placeholder="{{this.translate.data.label.username | translate}}"
                     class="form-control" type="text" #username="ngModel" [(ngModel)]="userLogin.username" [required]="true">

              <div *ngIf="username.touched">
                <span class="help-block" *ngIf="username.value === ''">Full name is required</span>
              </div>

            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-12">
              <input id="password" name="password" placeholder="{{this.translate.data.label.password | translate}}"
                     class="form-control" type="password" #password="ngModel" [(ngModel)]="userLogin.password"
                     [ngClass]="{ 'is-invalid': f.submitted && password.invalid }" [required]="true">

              <div *ngIf="password.touched">
                <span class="help-block" *ngIf="password.value === ''">Password is required</span>
                <span class="help-block" *ngIf="password.value > 0 && password.value.length < 6">
                  Minlength of password is 6 characters
                </span>
              </div>

            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-6 text-left">
              <span>Forgot password?</span>
            </div>
            <div class="form-group col-md-6 text-right">
              <span>Register account now</span>
            </div>
          </div>

          <div class="form-row float-right">
            <div class="form-group col-md-6">
              <button type="submit" class="btn btn-success" [disabled]="f.invalid">
                {{this.translate.data.button.submit | translate}}
              </button>
            </div>
          </div>
        </form>

      </div>
    </div>
  </div>
</section>
