<section>
  <div class="container profile-container testimonial py-5">
    <div class="profile-info row">
      <div class="col-lg-4 col-sm-6">

        <div class="card hovercard">
          <div class="cardheader">

          </div>
          <div class="avatar">
            <img alt="" src="https://png.pngtree.com/element_origin_min_pic/17/02/11/bf3f8c533232b1e8322c34f9731aa9f9.jpg">
          </div>
          <div class="info">
            <div class="title">
              <a target="_blank" href="https://scripteden.com/">Script Eden</a>
            </div>
            <div class="desc">Passionate designer</div>
            <div class="desc">Curious developer</div>
            <div class="desc">Tech geek</div>
          </div>
          <div class="bottom">
            <a class="btn btn-primary btn-twitter btn-sm" href="https://twitter.com/webmaniac">
              <i class="fa fa-twitter"></i>
            </a>
            <a class="btn btn-danger btn-sm" rel="publisher"
               href="https://plus.google.com/+ahmshahnuralam">
              <i class="fa fa-google-plus"></i>
            </a>
            <a class="btn btn-primary btn-sm" rel="publisher"
               href="https://plus.google.com/shahnuralam">
              <i class="fa fa-facebook"></i>
            </a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-sm-6">
        <div class="follow">
          <div class="btn-follow">
            <button class="btn-follow btn-primary">Follow <i class="fa fa-rss"></i></button>
          </div>
          <div class="follower">
            <p>1708 users follow Script Eden:</p>
            <div class="follower-image">
              <img src="https://pbs.twimg.com/media/C1OsxXCWgAEy1F_.png" data-toggle="tooltip" data-placement="top"
                   title="Hihi">
              <img src="https://pbs.twimg.com/media/C1OsxXCWgAEy1F_.png" data-toggle="tooltip" data-placement="top"
                   title="Hihi">
              <img src="https://pbs.twimg.com/media/C1OsxXCWgAEy1F_.png" data-toggle="tooltip" data-placement="top"
                   title="Hihi">
              <img src="https://pbs.twimg.com/media/C1OsxXCWgAEy1F_.png" data-toggle="tooltip" data-placement="top"
                   title="Hihi">
              <img src="https://pbs.twimg.com/media/C1OsxXCWgAEy1F_.png" data-toggle="tooltip" data-placement="top"
                   title="Hihi">
              <img src="https://pbs.twimg.com/media/C1OsxXCWgAEy1F_.png" data-toggle="tooltip" data-placement="top"
                   title="Hihi">
              <img src="https://pbs.twimg.com/media/C1OsxXCWgAEy1F_.png" data-toggle="tooltip" data-placement="top"
                   title="Hihi">
              <img src="https://pbs.twimg.com/media/C1OsxXCWgAEy1F_.png" data-toggle="tooltip" data-placement="top"
                   title="Hihi">
              <img src="https://pbs.twimg.com/media/C1OsxXCWgAEy1F_.png" data-toggle="tooltip" data-placement="top"
                   title="Hihi">
              <img src="https://pbs.twimg.com/media/C1OsxXCWgAEy1F_.png" data-toggle="tooltip" data-placement="top"
                   title="Hihi">
              <img src="https://pbs.twimg.com/media/C1OsxXCWgAEy1F_.png" data-toggle="tooltip" data-placement="top"
                   title="Hihi">
              <img src="https://pbs.twimg.com/media/C1OsxXCWgAEy1F_.png" data-toggle="tooltip" data-placement="top"
                   title="Hihi">
            </div>
          </div>
          <div class="follower">
            <p>4 users is followed by Script Eden:</p>
            <div class="follower-image">
              <img src="https://pbs.twimg.com/media/C1OsxXCWgAEy1F_.png" data-toggle="tooltip" data-placement="top"
                   title="Hihi">
              <img src="https://pbs.twimg.com/media/C1OsxXCWgAEy1F_.png" data-toggle="tooltip" data-placement="top"
                   title="Hihi">
              <img src="https://pbs.twimg.com/media/C1OsxXCWgAEy1F_.png" data-toggle="tooltip" data-placement="top"
                   title="Hihi">
              <img src="https://pbs.twimg.com/media/C1OsxXCWgAEy1F_.png" data-toggle="tooltip" data-placement="top"
                   title="Hihi">
            </div>
          </div>
          <div class="follower">
            <p>Tags:</p>
            <div class="follow-tag">
              <a>Javascript</a>
              <a>NodeJS</a>
              <a>Spring</a>
              <a>AI</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-sm-6">
        <div class="chart col-xs-12" style="text-align: center">
          <pie-chart class="col-xs-8" [data]="data" [config]="config" [elementId]="elementId"></pie-chart>
        </div>
        <div class="statistics-info col-xs-12">
          <div class="col-lg-4">
            <p>BOOKMARK</p>
            <p class="statistics-num">230</p>
          </div>
          <div class="col-lg-4">
            <p>COMMENT</p>
            <p class="statistics-num">29955</p>
          </div>
          <div class="col-lg-4">
            <p>VIEW</p>
            <p class="statistics-num">129955</p>
          </div>
        </div>

      </div>

    </div>
    <hr>
    <div class="profile-post">

      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bhoechie-tab-container">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bhoechie-tab-menu">
            <div class="list-group col-lg-12 col-md-12">
              <a href="#" class="list-group-item active text-center col-lg-3">
                <h4 class="fa fa-newspaper-o"></h4><br/>Post
              </a>
              <a href="#" class="list-group-item text-center col-lg-3">
                <h4 class="fa fa-question"></h4><br/>Question
              </a>
              <a href="#" class="list-group-item text-center col-lg-3">
                <h4 class="fa fa-reply"></h4><br/>Answer
              </a>
              <a href="#" class="list-group-item text-center col-lg-3">
                <h4 class="fa fa-paperclip"></h4><br/>Bookmark
              </a>
            </div>
          </div>
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bhoechie-tab">
            <!-- flight section -->
            <div class="bhoechie-tab-content text-center active">
                <h1 class="fa fa-newspaper-o" style="font-size:14em;color:#55518a"></h1>
                <h2 style="margin-top: 0;color:#55518a">Cooming Soon</h2>
                <h3 style="margin-top: 0;color:#55518a">Most Popular Post</h3>
            </div>
            <!-- train section -->
            <div class="bhoechie-tab-content text-center">
                <h1 class="fa fa-question" style="font-size:12em;color:#55518a"></h1>
                <h2 style="margin-top: 0;color:#55518a">Cooming Soon</h2>
                <h3 style="margin-top: 0;color:#55518a">Top Question</h3>
            </div>

            <!-- hotel search -->
            <div class="bhoechie-tab-content text-center">
                <h1 class="fa fa-reply" style="font-size:12em;color:#55518a"></h1>
                <h2 style="margin-top: 0;color:#55518a">Cooming Soon</h2>
                <h3 style="margin-top: 0;color:#55518a">Top Answer</h3>
            </div>
            <div class="bhoechie-tab-content text-center">
                <h1 class="fa fa-paperclip" style="font-size:12em;color:#55518a"></h1>
                <h2 style="margin-top: 0;color:#55518a">Cooming Soon</h2>
                <h3 style="margin-top: 0;color:#55518a">Bookmark</h3>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>


