<section id="content">
  <div class="container">
    <div class="row">

      <div class="col-xs-12 col-sm-8 col-md-9">

        <div class="nav">
          <div class="nav__categories js-dropdown">
            <!--<div class="nav__select">-->
              <!--<div id="btnCategories" class="btn-select" data-dropdown-btn="categories">Chủ đề</div>-->
              <!--<nav class="dropdown dropdown&#45;&#45;design-01" data-dropdown-list="categories" uib-dropdown>-->
                <!--<ul class="dropdown__catalog row">-->
                  <!--<li class="col-xs-6"><a href="#" class="category"><i class="bg-f9bc64"></i>Hobbies</a></li>-->
                  <!--<li class="col-xs-6"><a href="#" class="category"><i class="bg-348aa7"></i>Social</a></li>-->
                  <!--<li class="col-xs-6"><a href="#" class="category"><i class="bg-4436f8"></i>Video</a></li>-->
                  <!--<li class="col-xs-6"><a href="#" class="category"><i class="bg-5dd39e"></i>Random</a></li>-->
                  <!--<li class="col-xs-6"><a href="#" class="category"><i class="bg-ff755a"></i>Arts</a></li>-->
                  <!--<li class="col-xs-6"><a href="#" class="category"><i class="bg-bce784"></i>Tech</a></li>-->
                  <!--<li class="col-xs-6"><a href="#" class="category"><i class="bg-83253f"></i>Gaming</a></li>-->
                  <!--<li class="col-xs-6"><a href="#" class="category"><i class="bg-c49bbb"></i>Science</a></li>-->
                <!--</ul>-->
              <!--</nav>-->
            <!--</div>-->
            <div class="nav__select">
              <div id="btnTags" class="btn-select" data-dropdown-btn="tags">Thẻ của tôi</div>
              <div class="dropdown dropdown--design-01" data-dropdown-list="tags" uib-dropdown>
                <div class="tags">
                  <a href="#" class="bg-4f80b0">java</a>
                  <a href="#" class="bg-424ee8">javascript</a>
                  <a href="#" class="bg-36b7d7">c#</a>
                  <a href="#" class="bg-ef429e">c++</a>
                  <a href="#" class="bg-7cc576">ai</a>
                  <a href="#" class="bg-3a3a17">machine learning</a>
                  <a href="#" class="bg-6f7e9c">funny</a>
                </div>
              </div>
            </div>
          </div>
          <div class="nav__menu js-dropdown">
            <div class="nav__select">
              <div class="btn-select" data-dropdown-btn="menu">Diễn đàn</div>
              <div class="dropdown dropdown--design-01" data-dropdown-list="menu">
                <ul class="dropdown__catalog">
                  <li><a href="#">Hội nhóm</a></li>
                  <li><a href="#">Xu hướng</a></li>
                  <li><a href="#">Hỏi đáp</a></li>
                  <li><a href="#">Lưu trữ</a></li>
                  <li><a class="btn btn-primary" href="#" [routerLink]="['/post/create']">Viết bài</a></li>
                </ul>
              </div>
            </div>
            <ul id="post-type">
              <li class="active"><a href="#">Diễn đàn</a></li>
              <li><a href="#">Hội nhóm</a></li>
              <li><a href="#">Xu hướng</a></li>
              <li><a href="#">Hỏi đáp</a></li>
              <li><a href="#">Lưu trữ</a></li>
              <li><a class="btn btn-create-post" href="#" [routerLink]="['/post/create']">Viết bài</a></li>
            </ul>
          </div>
        </div>

        <div class="posts">

          <div class="post-item">

            <div class="avatar">
              <img src="https://bootstrapmade.com/wp-content/themefiles/Moderna/400.png"
                   alt="Squadfree – Free Bootstrap template for creative" class="img-responsive">
            </div>

            <div class="post-left">
              <div class="post-author">
                <span class="post-author-name"><b>Bùi Cường</b></span>
                <span class="post-time">&nbsp; đăng cách đây 52 phút trước</span>
                <!--<span class="text-muted"><i class="fa fa-bookmark float-right"></i></span>-->
              </div>

              <div class="post-detail">
                <div class="post-title">
                  <a href="#" [routerLink]="['/post/detail']">EventSource's response has a MIME type (“text/html”) that is not “text/event-stream”.
                    Aborting the connection. header is set to text/event-stream</a>
                </div>

                <div class="tags">
                  <a href="#" class="bg-4f80b0">chat bot</a>
                  <a href="#" class="bg-4f80b0">C#</a>
                </div>
              </div>

              <div class="post-info clearfix">
                <div class="stats">
                <span class="stats-item text-muted" data-tippy="" data-original-title="Views"
                      aria-describedby="tippy-285">
                <i aria-hidden="true" class="fa fa-eye"></i>&nbsp;44</span>
                  <span class="stats-item text-muted" data-tippy="" data-original-title="Clips">
                <i aria-hidden="true" class="fa fa-bookmark"></i>&nbsp;1</span>
                  <span class="stats-item text-muted" data-tippy="" data-original-title="Comments">
                <i aria-hidden="true" class="fa fa-comments"></i>&nbsp;1</span>
                </div>

              </div>
            </div>

            <div class="post-right">
              <div class="upvote text-muted">
                <i class="fa fa-chevron-up"></i>
                <p>6</p>
                <i class="fa fa-chevron-down"></i>
              </div>
            </div>


          </div>

          <div class="post-item">

            <div class="avatar">
              <img src="https://bootstrapmade.com/wp-content/themefiles/Knight/400.png"
                   alt="Squadfree – Free Bootstrap template for creative" class="img-responsive">
            </div>

            <div class="post-left">
              <div class="post-author">
                <span class="post-author-name"><b>Phạm Ngọc Huy</b></span>
                <span class="post-time">&nbsp; đăng cách đây 52 phút trước</span>
                <!--<span class="text-muted"><i class="fa fa-bookmark float-right"></i></span>-->
              </div>

              <div class="post-detail">
                <div class="post-title">
                  <a href="#" [routerLink]="['/post/detail']">EventSource's response has a MIME type (“text/html”) that is not “text/event-stream”.
                    Aborting the connection. header is set to text/event-stream</a>
                </div>

                <div class="tags">
                  <a href="#" class="bg-4f80b0">java</a>
                  <a href="#" class="bg-4f80b0">javascript</a>
                  <a href="#" class="bg-4f80b0">c#</a>
                  <a href="#" class="bg-4f80b0">c++</a>
                </div>
              </div>

              <div class="post-info clearfix">
                <div class="stats">
                <span class="stats-item text-muted" data-tippy="" data-original-title="Views"
                      aria-describedby="tippy-285">
                <i aria-hidden="true" class="fa fa-eye"></i>&nbsp;44</span>
                  <span class="stats-item text-muted" data-tippy="" data-original-title="Clips">
                <i aria-hidden="true" class="fa fa-bookmark"></i>&nbsp;1</span>
                  <span class="stats-item text-muted" data-tippy="" data-original-title="Comments">
                <i aria-hidden="true" class="fa fa-comments"></i>&nbsp;1</span>
                </div>

              </div>
            </div>

            <div class="post-right">
              <div class="upvote text-muted">
                <i class="fa fa-chevron-up"></i>
                <p>6</p>
                <i class="fa fa-chevron-down"></i>
              </div>
            </div>


          </div>

          <div class="post-item">

            <div class="avatar">
              <img src="https://bootstrapmade.com/wp-content/themefiles/Moderna/400.png"
                   alt="Squadfree – Free Bootstrap template for creative" class="img-responsive">
            </div>

            <div class="post-left">
              <div class="post-author">
                <span class="post-author-name"><b>Nguyễn Phi Khánh</b></span>
                <span class="post-time">&nbsp; đăng cách đây 52 phút trước</span>
                <!--<span class="text-muted"><i class="fa fa-bookmark float-right"></i></span>-->
              </div>

              <div class="post-detail">
                <a href="#" [routerLink]="['/post/detail']">EventSource's response has a MIME type (“text/html”) that is not “text/event-stream”.
                  Aborting the connection. header is set to text/event-stream</a>
              </div>

              <div class="post-info clearfix">
                <div class="stats">
                <span class="stats-item text-muted" data-tippy="" data-original-title="Views"
                      aria-describedby="tippy-285">
                <i aria-hidden="true" class="fa fa-eye"></i>&nbsp;44</span>
                  <span class="stats-item text-muted" data-tippy="" data-original-title="Clips">
                <i aria-hidden="true" class="fa fa-bookmark"></i>&nbsp;1</span>
                  <span class="stats-item text-muted" data-tippy="" data-original-title="Comments">
                <i aria-hidden="true" class="fa fa-comments"></i>&nbsp;1</span>
                </div>

              </div>
            </div>

            <div class="post-right">
              <div class="upvote text-muted">
                <i class="fa fa-chevron-up"></i>
                <p>10</p>
                <i class="fa fa-chevron-down"></i>
              </div>
            </div>


          </div>

          <div class="post-item">

            <div class="avatar">
              <img src="https://bootstrapmade.com/wp-content/themefiles/Knight/400.png"
                   alt="Squadfree – Free Bootstrap template for creative" class="img-responsive">
            </div>

            <div class="post-left">
              <div class="post-author">
                <span class="post-author-name"><b>Nguyễn Mạnh Cường</b></span>
                <span class="post-time">&nbsp; đăng cách đây 2 giờ trước</span>
                <!--<span class="text-muted"><i class="fa fa-bookmark float-right"></i></span>-->
              </div>

              <div class="post-detail">
                <a href="#" [routerLink]="['/post/detail']">Làm thế nào để xây dựng 1 máy chủ WEB trên VPS Linux ???
                </a>
              </div>

              <div class="post-info clearfix">
                <div class="stats">
                <span class="stats-item text-muted" data-tippy="" data-original-title="Views"
                      aria-describedby="tippy-285">
                <i aria-hidden="true" class="fa fa-eye"></i>&nbsp;44</span>
                  <span class="stats-item text-muted" data-tippy="" data-original-title="Clips">
                <i aria-hidden="true" class="fa fa-bookmark"></i>&nbsp;1</span>
                  <span class="stats-item text-muted" data-tippy="" data-original-title="Comments">
                <i aria-hidden="true" class="fa fa-comments"></i>&nbsp;1</span>
                </div>

              </div>
            </div>

            <div class="post-right">
              <div class="upvote text-muted">
                <i class="fa fa-chevron-up"></i>
                <p>0</p>
                <i class="fa fa-chevron-down"></i>
              </div>
            </div>


          </div>

          <div class="post-item">

            <div class="avatar">
              <img src="https://bootstrapmade.com/wp-content/themefiles/Knight/400.png"
                   alt="Squadfree – Free Bootstrap template for creative" class="img-responsive">
            </div>

            <div class="post-left">
              <div class="post-author">
                <span class="post-author-name"><b>Nguyễn Mạnh Cường</b></span>
                <span class="post-time">&nbsp; đăng cách đây 2 giờ trước</span>
                <!--<span class="text-muted"><i class="fa fa-bookmark float-right"></i></span>-->
              </div>

              <div class="post-detail">
                <a href="#">Làm thế nào để xây dựng 1 máy chủ WEB trên VPS Linux ???
                </a>
              </div>

              <div class="post-info clearfix">
                <div class="stats">
                <span class="stats-item text-muted" data-tippy="" data-original-title="Views"
                      aria-describedby="tippy-285">
                <i aria-hidden="true" class="fa fa-eye"></i>&nbsp;44</span>
                  <span class="stats-item text-muted" data-tippy="" data-original-title="Clips">
                <i aria-hidden="true" class="fa fa-bookmark"></i>&nbsp;1</span>
                  <span class="stats-item text-muted" data-tippy="" data-original-title="Comments">
                <i aria-hidden="true" class="fa fa-comments"></i>&nbsp;1</span>
                </div>

              </div>
            </div>

            <div class="post-right">
              <div class="upvote text-muted">
                <i class="fa fa-chevron-up"></i>
                <p>0</p>
                <i class="fa fa-chevron-down"></i>
              </div>
            </div>


          </div>

          <div class="post-item">

            <div class="avatar">
              <img src="https://bootstrapmade.com/wp-content/themefiles/Knight/400.png"
                   alt="Squadfree – Free Bootstrap template for creative" class="img-responsive">
            </div>

            <div class="post-left">
              <div class="post-author">
                <span class="post-author-name"><b>Nguyễn Mạnh Cường</b></span>
                <span class="post-time">&nbsp; đăng cách đây 2 giờ trước</span>
                <!--<span class="text-muted"><i class="fa fa-bookmark float-right"></i></span>-->
              </div>

              <div class="post-detail">
                <a href="#">Làm thế nào để xây dựng 1 máy chủ WEB trên VPS Linux ???
                </a>
              </div>

              <div class="post-info clearfix">
                <div class="stats">
                <span class="stats-item text-muted" data-tippy="" data-original-title="Views"
                      aria-describedby="tippy-285">
                <i aria-hidden="true" class="fa fa-eye"></i>&nbsp;44</span>
                  <span class="stats-item text-muted" data-tippy="" data-original-title="Clips">
                <i aria-hidden="true" class="fa fa-bookmark"></i>&nbsp;1</span>
                  <span class="stats-item text-muted" data-tippy="" data-original-title="Comments">
                <i aria-hidden="true" class="fa fa-comments"></i>&nbsp;1</span>
                </div>

              </div>
            </div>

            <div class="post-right">
              <div class="upvote text-muted">
                <i class="fa fa-chevron-up"></i>
                <p>0</p>
                <i class="fa fa-chevron-down"></i>
              </div>
            </div>


          </div>

          <div class="post-item">

            <div class="avatar">
              <img src="https://bootstrapmade.com/wp-content/themefiles/Knight/400.png"
                   alt="Squadfree – Free Bootstrap template for creative" class="img-responsive">
            </div>

            <div class="post-left">
              <div class="post-author">
                <span class="post-author-name"><b>Nguyễn Mạnh Cường</b></span>
                <span class="post-time">&nbsp; đăng cách đây 2 giờ trước</span>
                <!--<span class="text-muted"><i class="fa fa-bookmark float-right"></i></span>-->
              </div>

              <div class="post-detail">
                <a href="#">Làm thế nào để xây dựng 1 máy chủ WEB trên VPS Linux ???
                </a>
              </div>

              <div class="post-info clearfix">
                <div class="stats">
                <span class="stats-item text-muted" data-tippy="" data-original-title="Views"
                      aria-describedby="tippy-285">
                <i aria-hidden="true" class="fa fa-eye"></i>&nbsp;44</span>
                  <span class="stats-item text-muted" data-tippy="" data-original-title="Clips">
                <i aria-hidden="true" class="fa fa-bookmark"></i>&nbsp;1</span>
                  <span class="stats-item text-muted" data-tippy="" data-original-title="Comments">
                <i aria-hidden="true" class="fa fa-comments"></i>&nbsp;1</span>
                </div>

              </div>
            </div>

            <div class="post-right">
              <div class="upvote text-muted">
                <i class="fa fa-chevron-up"></i>
                <p>0</p>
                <i class="fa fa-chevron-down"></i>
              </div>
            </div>


          </div>

          <div class="post-item">

            <div class="avatar">
              <img src="https://bootstrapmade.com/wp-content/themefiles/Knight/400.png"
                   alt="Squadfree – Free Bootstrap template for creative" class="img-responsive">
            </div>

            <div class="post-left">
              <div class="post-author">
                <span class="post-author-name"><b>Nguyễn Mạnh Cường</b></span>
                <span class="post-time">&nbsp; đăng cách đây 2 giờ trước</span>
                <!--<span class="text-muted"><i class="fa fa-bookmark float-right"></i></span>-->
              </div>

              <div class="post-detail">
                <a href="#">Làm thế nào để xây dựng 1 máy chủ WEB trên VPS Linux ???
                </a>
              </div>

              <div class="post-info clearfix">
                <div class="stats">
                <span class="stats-item text-muted" data-tippy="" data-original-title="Views"
                      aria-describedby="tippy-285">
                <i aria-hidden="true" class="fa fa-eye"></i>&nbsp;44</span>
                  <span class="stats-item text-muted" data-tippy="" data-original-title="Clips">
                <i aria-hidden="true" class="fa fa-bookmark"></i>&nbsp;1</span>
                  <span class="stats-item text-muted" data-tippy="" data-original-title="Comments">
                <i aria-hidden="true" class="fa fa-comments"></i>&nbsp;1</span>
                </div>

              </div>
            </div>

            <div class="post-right">
              <div class="upvote text-muted">
                <i class="fa fa-chevron-up"></i>
                <p>0</p>
                <i class="fa fa-chevron-down"></i>
              </div>
            </div>


          </div>

          <div class="post-item">

            <div class="avatar">
              <img src="https://bootstrapmade.com/wp-content/themefiles/Knight/400.png"
                   alt="Squadfree – Free Bootstrap template for creative" class="img-responsive">
            </div>

            <div class="post-left">
              <div class="post-author">
                <span class="post-author-name"><b>Nguyễn Mạnh Cường</b></span>
                <span class="post-time">&nbsp; đăng cách đây 2 giờ trước</span>
                <!--<span class="text-muted"><i class="fa fa-bookmark float-right"></i></span>-->
              </div>

              <div class="post-detail">
                <a href="#">Làm thế nào để xây dựng 1 máy chủ WEB trên VPS Linux ???
                </a>
              </div>

              <div class="post-info clearfix">
                <div class="stats">
                <span class="stats-item text-muted" data-tippy="" data-original-title="Views"
                      aria-describedby="tippy-285">
                <i aria-hidden="true" class="fa fa-eye"></i>&nbsp;44</span>
                  <span class="stats-item text-muted" data-tippy="" data-original-title="Clips">
                <i aria-hidden="true" class="fa fa-bookmark"></i>&nbsp;1</span>
                  <span class="stats-item text-muted" data-tippy="" data-original-title="Comments">
                <i aria-hidden="true" class="fa fa-comments"></i>&nbsp;1</span>
                </div>

              </div>
            </div>

            <div class="post-right">
              <div class="upvote text-muted">
                <i class="fa fa-chevron-up"></i>
                <p>0</p>
                <i class="fa fa-chevron-down"></i>
              </div>
            </div>


          </div>

          <div class="post-item">

            <div class="avatar">
              <img src="https://bootstrapmade.com/wp-content/themefiles/Knight/400.png"
                   alt="Squadfree – Free Bootstrap template for creative" class="img-responsive">
            </div>

            <div class="post-left">
              <div class="post-author">
                <span class="post-author-name"><b>Nguyễn Mạnh Cường</b></span>
                <span class="post-time">&nbsp; đăng cách đây 2 giờ trước</span>
                <!--<span class="text-muted"><i class="fa fa-bookmark float-right"></i></span>-->
              </div>

              <div class="post-detail">
                <a href="#">Làm thế nào để xây dựng 1 máy chủ WEB trên VPS Linux ???
                </a>
              </div>

              <div class="post-info clearfix">
                <div class="stats">
                <span class="stats-item text-muted" data-tippy="" data-original-title="Views"
                      aria-describedby="tippy-285">
                <i aria-hidden="true" class="fa fa-eye"></i>&nbsp;44</span>
                  <span class="stats-item text-muted" data-tippy="" data-original-title="Clips">
                <i aria-hidden="true" class="fa fa-bookmark"></i>&nbsp;1</span>
                  <span class="stats-item text-muted" data-tippy="" data-original-title="Comments">
                <i aria-hidden="true" class="fa fa-comments"></i>&nbsp;1</span>
                </div>

              </div>
            </div>

            <div class="post-right">
              <div class="upvote text-muted">
                <i class="fa fa-chevron-up"></i>
                <p>0</p>
                <i class="fa fa-chevron-down"></i>
              </div>
            </div>


          </div>

        </div>

      </div>

      <div class="col-xs-12 col-sm-4 col-md-3">
        <div class="sidebar">
          <div class="widget-area"><h3 class="widget-title">Tìm kiếm</h3>
            <div title="Search" class="searchform clearfix">
              <form method="get" action="https://bootstrapmade.com/">
                  <span class="sfield">
                    <input type="text" value="" name="s" class="s" placeholder="Enter keyword...">
                  </span>
                <button type="submit" class="sbutton">
                  <i class="fa fa-search sicon" title="Search"></i>
                </button>
              </form>
            </div>
          </div>

          <div class="widget-area"><h3 class="widget-title">Top Tag</h3>
            <div class="popular-authors">
              <h4><a href="#" rel="bookmark"><i class="fa fa-tags"></i> Javascript</a></h4>
              <div class="info">
                <div class="downloads">109,414 sử dụng tag</div>
              </div>
            </div>
            <div class="popular-authors">
              <h4><a href="#" rel="bookmark"><i class="fa fa-tags"></i> Java</a></h4>
              <div class="info">
                <div class="downloads">83,324 sử dụng tag</div>
              </div>
            </div>
            <div class="popular-authors">
              <h4><a href="#" rel="bookmark"><i class="fa fa-tags"></i> Python</a></h4>
              <div class="info">
                <div class="downloads">59,490 sử dụng tag</div>
              </div>
            </div>
            <div class="popular-authors">
              <h4><a href="#" rel="bookmark"><i class="fa fa-tags"></i> C#</a></h4>
              <div class="info">
                <div class="downloads">20,414 sử dụng tag</div>
              </div>
            </div>
            <div class="popular-authors">
              <h4><a href="#" rel="bookmark"><i class="fa fa-tags"></i> HTML</a></h4>
              <div class="info">
                <div class="downloads">10,414 sử dụng tag</div>
              </div>
            </div>
          </div>

          <div class="widget-area"><h3 class="widget-title">Top Author</h3>
            <div class="popular-authors clearfix">
              <div class="screen">
                <a href="#" rel="bookmark">
                  <img src="https://bootstrapmade.com/wp-content/themefiles/Squadfree/400.png"
                       alt="Squadfree – Free Bootstrap template for creative" class="img-responsive rounded-circle">
                </a>
              </div>
              <h4><a href="#" rel="bookmark">Bùi Cường</a></h4>
              <div class="buttons">
                <a href="#" rel="nofollow" target="_blank"><i class="fa fa-eye"></i> &nbsp;View Profile</a>
                <a href="#" rel="nofollow" target="_blank"><i class="fa fa-star"></i> &nbsp;Follow</a>
              </div>
            </div>
            <div class="popular-authors clearfix">
              <div class="screen">
                <a href="#" rel="bookmark">
                  <img src="https://bootstrapmade.com/wp-content/themefiles/Knight/400.png"
                       alt="Squadfree – Free Bootstrap template for creative" class="img-responsive rounded-circle">
                </a>
              </div>
              <h4><a href="#" rel="bookmark">Phạm Ngọc Huy</a></h4>
              <div class="buttons">
                <a href="#" rel="nofollow" target="_blank"><i class="fa fa-eye"></i> &nbsp;View Profile</a>
                <a href="#" rel="nofollow" target="_blank"><i class="fa fa-star"></i> &nbsp;Follow</a>
              </div>
            </div>
            <div class="popular-authors clearfix">
              <div class="screen">
                <a href="#" rel="bookmark">
                  <img src="https://bootstrapmade.com/wp-content/themefiles/Moderna/400.png"
                       alt="Squadfree – Free Bootstrap template for creative" class="img-responsive rounded-circle">
                </a>
              </div>
              <h4><a href="#" rel="bookmark">Nguyễn Mạnh Cường</a></h4>
              <div class="buttons">
                <a href="#" rel="nofollow" target="_blank"><i class="fa fa-eye"></i> &nbsp;View Profile</a>
                <a href="#" rel="nofollow" target="_blank"><i class="fa fa-star"></i> &nbsp;Follow</a>
              </div>
            </div>
          </div>

          <div class="widget-area">
            <h3 class="widget-title">Newsletter</h3>
            <div class="newsletter"><p>Subscribe to get notified when new theme is released</p>
              <form class="clearfix" action="#" method="post">
                <div class="email">
                  <input type="text" name="email" placeholder="Enter your email">
                </div>
                <div class="submit">
                  <input type="submit" value="Subscribe">
                </div>
              </form>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>
</section>

<!--<div class="container-fluid">-->

<!--&lt;!&ndash; tittle &ndash;&gt;-->
<!--<div class="main-title text-center">-->
<!--<h3>{{this.translate.data.title | translate}}</h3>-->
<!--<p class="lead">-->
<!--{{translate.data.main.main_title_1 | translate}} <br>{{translate.data.main.main_title_2 | translate}}-->
<!--</p>-->

<!--&lt;!&ndash; register link &ndash;&gt;-->
<!--<div class="row text-center">-->
<!--<div class="col-xs-12 col-sm-12 col-md-12">-->
<!--<ul class="list-unstyled list-inline social text-center">-->
<!--<span>{{translate.data.main.join | translate}}</span>-->
<!--<li class="list-inline-item"><a href="javascript:"><i class="fa fa-facebook"></i></a>-->
<!--</li>-->
<!--<li class="list-inline-item"><a href="javascript:"><i class="fa fa-google"></i></a></li>-->
<!--<span>{{translate.data.main.or | translate}}-->
<!--<a href="javascript:;;" [routerLink]="['/register']">{{translate.data.main.register | translate}}</a>-->
<!--</span>-->
<!--</ul>-->
<!--</div>-->
<!--</div>-->

<!--&lt;!&ndash; introduction forum &ndash;&gt;-->
<!--<div class="text-center">-->
<!--<div class="col-xs-12 col-sm-12 col-md-12">-->

<!--</div>-->
<!--</div>-->
<!--</div>-->

<!--</div>-->
