.container-fluid {
  width: 96% !important;
}

#content {
  margin-top: 70px
}

.tit {
  position: relative;
}

.tit .txt {
  position: relative;
  width: 200px;
  background-color: #fff;
  margin: 0 auto;
  text-align: center;
  z-index: 2;
}

.tit:before {
  position: absolute;
  top: 58%;
  content: "";
  display: block;
  width: 100%;
  border-bottom: 1px solid #ccc;
  z-index: 1;
}

#post-list-item {
  margin-top: 15px
}

#post-list-item .theme-box {
  position: relative;
  margin-bottom: 30px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, .25);
  overflow: hidden;
  height: 400px;
  transition: box-shadow 0.3s ease-in-out
}

#post-list-item .theme-box:hover {
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, .25)
}

#post-list-item .theme-box img {
  transition: all 0.3s ease-in-out
}

#post-list-item .theme-box:hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1)
}

#post-list-item .theme-box .theme-info {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(255, 255, 255, .95);
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, .25);
  height: 164px;
  transition: all 0.3s ease
}

#post-list-item .theme-box .theme-info h2 {
  font-family: "Roboto", sans-serif;
  margin: 0;
  font-size: 20px;
  font-weight: 400;
  padding: 15px 10px;
  float: left
}

#post-list-item .theme-box .theme-info h2 a {
  color: #555
}

#post-list-item .theme-box .theme-info h2 a:hover {
  color: #00a6eb
}

#post-list-item .theme-box .publish-date {
  float: left;
  padding: 18px 0 0 5px;
  color: #999;
  font-style: italic;
  font-size: 13px
}

#post-list-item .theme-box .theme-downloads {
  float: right;
  padding: 18px 10px 0 0;
  color: #999;
  font-style: italic;
  font-size: 13px
}

#post-list-item .theme-box:hover .theme-info {
  height: 164px;
  background: #fff
}

#post-list-item .theme-box .theme-info p {
  font-size: 13px;
  color: #555;
  padding: 0 10px;
  margin: 0;
  height: 56px;
  overflow: hidden
}

#post-list-item .theme-box .buttons {
  margin-top: 10px;
  text-align: center
}

#post-list-item .theme-box .buttons a {
  display: inline-block;
  padding: 4px 14px;
  font-size: 13px;
  border-radius: 2px;
  color: #555;
  margin: 0 5px;
  transition: background 0.25s;
  background: #eee
}

#post-list-item .theme-box .buttons a:hover {
  color: #fff;
  background: #1e5f8d
}

#post-list-item .theme-box .buttons a.buy-pro:hover {
  background: #00a651
}

.theme-single {
  margin-top: 15px
}

.theme-single .screen {
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, .25);
  padding: 20px
}

.theme-single .screenshot {
  height: 500px;
  text-align: center;
  overflow: hidden
}

.theme-single .screenshot a {
  display: inline-block
}

.theme-single .single-entry {
  margin: 15px 0;
  font-size: 15px;
  color: #555;
  line-height: 22px
}

.theme-single .single-buttons {
  text-align: center;
  padding: 20px 0
}

.theme-single .single-buttons a {
  display: inline-block;
  padding: 8px 25px;
  font-size: 14px;
  border-radius: 3px;
  transition: background 0.25s;
  background: #00a6eb !important;
  color: #fff !important;
  margin: 5px 5px
}

.theme-single .single-buttons a:hover {
  color: #fff !important;
  background: #1e5f8d !important
}

.theme-single .single-buttons a.scroll {
  background: #1e5f8d !important
}

.theme-single .single-buttons a.scroll:hover {
  background: #00a6eb !important
}

.theme-single .like-share-rate {
  height: 38px;
  overflow: hidden;
  margin-top: -59px
}

.theme-single .like-share {
  float: left
}

.theme-single .like-share .btn-circle {
  width: 32px;
  height: 32px;
  text-align: center;
  padding: 6px 0;
  font-size: 14px;
  line-height: 1.428571429;
  border-radius: 15px;
  margin: 0 1px 0;
  background-color: #fff !important
}

.theme-single .like-share .btn-circle:hover {
  background-color: #fff !important
}

.theme-single .like-share .fa-twitter {
  color: #1DA1F3
}

.theme-single .like-share .fa-facebook {
  color: #3B5998
}

.theme-single .like-share .fa-pinterest {
  color: #BD081C
}

.theme-single .like-share .fa-google-plus {
  color: #DB4437
}

.theme-single .fb-like {
  padding-top: 2px;
  margin-right: -20px;
  float: right
}

.sidebar {
  margin-top: 15px
}

.widget-area {
  border: 1px solid #e5e5e5;
  list-style-type: none;
  margin: 0 0 15px;
  padding: 15px;
  color: #333;
  font-size: 13px
}

.widget-title {
  color: #555;
  font-size: 16px;
  line-height: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  margin: -15px -15px 15px;
  padding: 12px 12px 14px;
  background: #eee;
  background: linear-gradient(to bottom, #eeeeee 0%, #ffffff 3%, #f4f4f4 4%, #ededed 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#ededed', GradientType=0)
}

.widget-area .widget-title a, .widget-area .widget-title a:hover {
  color: #111;
  text-decoration: none
}

.widget-area a {
  color: #1e5f8d;
  text-decoration: none
}

.widget-area a:hover {
  color: #00a6eb;
  text-decoration: none
}

.widget ul {
  list-style-type: none;
  margin: 0;
  padding: 0
}

.widget ul li {
  padding: 0;
  margin: 0 0 15px
}

.newsletter p {
  padding: 0;
  margin: 0 0 10px;
  font-size: 13px
}

.newsletter .email {
  width: 68%;
  float: left
}

.newsletter .email input {
  width: 100%;
  border: 1px solid #ccc;
  padding: 6px 8px;
  font-size: 14px;
  background: #fafafa
}

.newsletter .email input:focus {
  background: #fff
}

.newsletter .submit {
  float: right;
  width: 30%
}

.newsletter .submit input {
  width: 100%;
  background: #1e5f8d;
  color: #fff;
  border: 0;
  border-radius: 2px;
  transition: all 0.3s ease;
  padding: 7px 8px;
  font-size: 14px
}

.newsletter .submit input:hover {
  background: #00a6eb
}

.searchform {
  text-align: left;
  background: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 2px;
  padding: 4px
}

.searchform .s {
  background: #fff;
  color: #666;
  border: none;
  width: 100%;
  padding: 6px;
  outline: none;
  margin: 0
}

.searchform .sfield {
  background: #fff;
  width: 80%;
  float: left;
  margin: 0;
  outline: none
}

.searchform .sbutton {
  float: right;
  width: 20%;
  height: 32px;
  border: 0;
  margin-left: -2px;
  cursor: pointer;
  background: #1e5f8d;
  color: #fff;
  border-radius: 2px;
  transition: all 0.3s ease
}

.searchform .sbutton:hover {
  background: #00a6eb
}

.sidebar-social {
  margin-bottom: 20px;
  margin-top: 20px
}

.sidebar-social a {
  display: inline-block;
  float: left;
  width: 25%;
  text-align: center;
  padding: 10px 0;
  margin: 0;
  color: #fff
}

.sidebar-social .sidebar-twitter {
  background: #00aced
}

.sidebar-social .sidebar-twitter:hover {
  background: rgba(0, 172, 237, .6)
}

.sidebar-social .sidebar-facebook {
  background: #3b5998
}

.sidebar-social .sidebar-facebook:hover {
  background: rgba(59, 89, 152, .8)
}

.sidebar-social .sidebar-rss {
  background: #ed7527
}

.sidebar-social .sidebar-rss:hover {
  background: rgba(237, 117, 39, .8)
}

.sidebar-social .sidebar-mail {
  background: #59ae5b;
  cursor: pointer
}

.sidebar-social .sidebar-mail:hover {
  background: rgba(89, 174, 91, .8)
}

.sidebar-social i {
  font-size: 16px
}

.popular-themes {
  padding: 0 0 15px;
  margin: 0 0 15px;
  border-bottom: 1px solid #eee
}

.popular-themes .screen {
  float: left;
  margin-right: 10px;
  width: 90px;
  height: 90px;
  overflow: hidden
}

.popular-themes .screen img {
  width: 90px
}

.popular-themes h4 {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  padding: 0;
  margin: 0 0 10px
}

.popular-themes h4 a {
  color: #555
}

.popular-themes h4 a:hover {
  color: #00a6eb
}

.popular-themes .info {
  height: 22px
}

.popular-themes .downloads {
  color: #999;
  font-style: italic;
  font-size: 12px;
  float: left
}

.popular-themes .ratings {
  float: right
}

.popular-themes .kk-star-ratings {
  min-height: 12px !important;
  height: 12px !important;
  overflow: hidden !important
}

.popular-themes .buttons {
  margin-top: 6px
}

.popular-themes .buttons a {
  display: inline-block;
  padding: 0;
  margin-right: 8px;
  font-size: 12px;
  color: #555;
  transition: all 0.4s ease
}

.popular-themes .buttons a:hover {
  color: #00a6eb
}

.popular-themes .buttons a:last-child {
  margin-right: 0
}

.sicon {
  padding-bottom: 5px;
}

.widget-area .popular-themes:last-child {
  padding: 0;
  margin: 0;
  border-bottom: none
}

@media (min-width: 992px) {
  .page-header-single {
    position: fixed;
    left: 0;
    top: 45px;
    right: 0;
    z-index: 999
  }
  .single-content {
    margin-top: 190px !important
  }
}

@media (max-width: 1900px) {
  #post-list-item .theme-box .buttons a {
    padding: 4px 8px;
    margin: 0 2px
  }
}

@media (max-width: 1199px) {
  #header .container {
    width: 100%
  }
}

@media (max-width: 1024px) {
  #topnav a {
    padding: 0 0 0 15px;
    font-size: 14px
  }
}

@media (max-width: 991px) {
  .logo {
    width: 160px;
    margin-top: 26px
  }
  #post-list-item .theme-box img {
    width: 100%
  }
}

@media (max-width: 767px) {
  .theme-single .screenshot {
    height: 300px
  }
  .theme-single .like-share-rate {
    margin-top: 0
  }
  .copyrights {
    float: none;
    text-align: center;
    padding-bottom: 0
  }
  .footer-menu {
    float: none;
    text-align: center
  }
}
