<section class="testimonial py-5" id="register-form">
  <div class="container">
    <div class="row ">
      <div class="col-md-4 py-5 bg-color text-white text-center">
        <div class=" ">
          <div class="card-body">
            <img src="http://www.ansonika.com/mavia/img/registration_bg.svg" style="width:30%">
            <h2 class="py-3">{{translate.data.label.registration | translate}}</h2>
            <p>{{translate.data.label.content | translate}}</p>
          </div>
        </div>
      </div>
      <div class="col-md-8 py-5 border">
        <h4 class="pb-4 text-center">{{translate.data.label.registration | translate}}</h4>
        <form (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm">

          <div class="form-row">
            <div class="form-group col-md-6">
              <input id="fullName" name="fullName" placeholder="{{this.translate.data.label.full_name | translate}}"
                     class="form-control" type="text" #fullName="ngModel" [(ngModel)]="user.fullName" [required]="true">

              <div *ngIf="fullName.touched">
                <span class="help-block" *ngIf="fullName.value === ''">Full name is required</span>
              </div>

            </div>
            <div class="form-group col-md-6 cross-validation"
                 [class.cross-validation-error]="email.touched || email.dirty">
              <input type="email" class="form-control" id="email" name="email"
                     placeholder="{{this.translate.data.label.email | translate}}"
                     #email="ngModel" [(ngModel)]="user.email" [required]="true">

              <div *ngIf="email.touched">
                <span class="help-block" *ngIf="email.value === ''">Email is required</span>
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-6 cross-validation"
                 [class.cross-validation-error]="username.touched || username.dirty">
              <input id="username" name="username" placeholder="{{this.translate.data.label.username | translate}}"
                     class="form-control" required="required" type="text" [minlength]="3"
                     #username="ngModel" [(ngModel)]="user.username" [required]="true">

              <div *ngIf="username.touched">
                <span class="help-block" *ngIf="username.value === ''">Username is required</span>
                <span class="help-block" *ngIf="username.value.length > 0 && username.value.length < 3">
                  Minlength of username is 3 characters
                </span>
              </div>
            </div>
            <div class="form-group col-md-6">
              <select id="career" name="career" class="form-control"
                      #career="ngModel" [(ngModel)]="user.career" [compareWith]="compareObjects"
                      [ngClass]="{ 'is-invalid': f.submitted && career.invalid }">
                <option> {{this.translate.data.label.developer | translate}}</option>
                <option> {{this.translate.data.label.designer | translate}}</option>
                <option> {{this.translate.data.label.other | translate}}</option>
              </select>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-6">
              <input id="password" name="password" placeholder="{{this.translate.data.label.password | translate}}"
                     class="form-control" type="password" #password="ngModel" [(ngModel)]="user.password"
                     [ngClass]="{ 'is-invalid': f.submitted && password.invalid }" [required]="true" [minlength]="6">

              <div *ngIf="password.touched">
                <span class="help-block" *ngIf="password.value === ''">Password is required</span>
                <span class="help-block" *ngIf="password.value > 0 && password.value.length < 6">
                  Minlength of password is 6 characters
                </span>
              </div>

            </div>
            <div class="form-group col-md-6">
              <input type="password" class="form-control" id="confirmPassword" name="confirmPassword"
                     placeholder="{{this.translate.data.label.confirm_password | translate}}"
                     #confirmPassword="ngModel" [(ngModel)]="user.confirmPassword"
                     [ngClass]="{ 'is-invalid': f.submitted && confirmPassword.invalid }" [required]="true">

              <div *ngIf="password.touched">
                <span class="help-block"
                      *ngIf="password.value !== '' && password.value !== confirmPassword.value && confirmPassword.value !== ''">
                    Invalid Password
                </span>
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-12">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="agreePolicy" required>
                <label class="form-check-label" for="agreePolicy">
                  <small>{{this.translate.data.label.term | translate}} <a href="/">{{this.translate.data.label.policy |
                    translate}}</a>.
                  </small>
                </label>
              </div>
            </div>
          </div>

          <div class="form-row float-right">
            <div class="form-group col-md-12">
              <button type="submit" class="btn btn-success" [disabled]="f.invalid">
                {{this.translate.data.button.submit | translate}}
              </button>
            </div>
          </div>
        </form>

      </div>
    </div>
  </div>
</section>
