img {
  width:100%;
}

.bg-color {
  background: #588186;
}

#register-form {
  margin-top: 3em;
}

.container {
  -webkit-box-shadow: 0px 0px 26px -1px rgba(200,200,200,1);
  -moz-box-shadow: 0px 0px 26px -1px rgba(200,200,200,1);
  box-shadow: 0px 0px 26px -1px rgba(200,200,200,1);
}
