<footer>
  <div class="footer" id="footer">
    <div class="container">
      <div class="row">

        <div class="col-lg-3 col-xs-12">
          <span class="logo">Shared</span>
        </div>
        <div class="col-lg-3 col-xs-12">
          <h3>MENU</h3>
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Board of Directors</a></li>
            <li><a href="#">Mission-Vision</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div>
        <div class="col-lg-3 col-xs-12">
          <h3>CATEGORIES</h3>
          <ul>
            <li><a href="#">Photo Gallery</a></li>
            <li><a href="#">Video Gallery</a></li>
            <li><a href="#">News</a></li>
            <li><a href="#">Announcement</a></li>
          </ul>
        </div>
        <div class="col-lg-3 col-xs-12">
          <h3>CONTACT</h3>
          <ul>
            <li> <a href="#">Address</a> </li>
            <li> <a href="#">Phone</a> </li>
            <li> <a href="#">Fax</a> </li>
            <li> <a href="#">E-Mail</a> </li>
          </ul>
        </div>

      </div>
    </div>
  </div>
</footer>

<div class="footer-bottom">
  <p>Copyright © 2017. All right reserved.</p>
</div>
