<section>
  <div class="container profile-container testimonial py-5">
    <div [hidden]="profileMode!==1" class="profile-info row">
      <div class="col-lg-4 col-xs-12">

        <div class="card hovercard">
          <div class="cardheader">

          </div>
          <div class="avatar" style="margin-top: 1rem">
            <img alt="" src="{{imgUrl?imgUrl:'http://localhost:8080/files/default-avatar.png'}}">
          </div>
          <div class="info">
            <div class="title">
              <a>{{currentProfile.firstName + " " + currentProfile.lastName}}</a>
            </div>
            <div class="desc">{{currentProfile.position}}</div>
            <div class="desc">{{currentProfile.company}}</div>
          </div>
          <div class="bottom">
            <a class="btn btn-dark btn-sm btn-social" rel="publisher"
               href="{{currentProfile.githubLink}}">
              <i class="fa fa-github"></i>
            </a>
            <a class="btn btn-primary btn-sm btn-social" rel="publisher"
               href="{{currentProfile.websiteLink}}">
              <i class="fa fa-facebook"></i>
            </a>
          </div>
          <div class="text-center">
            <input *ngIf="currentUser.userId === currentProfile.userId"
                   type="submit" class="profile-edit-btn" style="width: 30%;"
                   name="btnUpdateProfile" (click)="forwardToUpdate()"
                   value="{{this.translate.data.button.update | translate}}"/>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-xs-12">
        <div class="follow">
          <div class="btn-follow">
            <button class="btn-follow btn-primary">Follow <i class="fa fa-rss"></i></button>
          </div>
          <div class="follower">
            <p>1708 users follow Script Eden:</p>
            <div class="follower-image">
              <img src="https://pbs.twimg.com/media/C1OsxXCWgAEy1F_.png" data-toggle="tooltip" data-placement="top"
                   title="Hihi">
              <img src="https://pbs.twimg.com/media/C1OsxXCWgAEy1F_.png" data-toggle="tooltip" data-placement="top"
                   title="Hihi">
              <img src="https://pbs.twimg.com/media/C1OsxXCWgAEy1F_.png" data-toggle="tooltip" data-placement="top"
                   title="Hihi">
              <img src="https://pbs.twimg.com/media/C1OsxXCWgAEy1F_.png" data-toggle="tooltip" data-placement="top"
                   title="Hihi">
              <img src="https://pbs.twimg.com/media/C1OsxXCWgAEy1F_.png" data-toggle="tooltip" data-placement="top"
                   title="Hihi">
              <img src="https://pbs.twimg.com/media/C1OsxXCWgAEy1F_.png" data-toggle="tooltip" data-placement="top"
                   title="Hihi">
              <img src="https://pbs.twimg.com/media/C1OsxXCWgAEy1F_.png" data-toggle="tooltip" data-placement="top"
                   title="Hihi">
              <img src="https://pbs.twimg.com/media/C1OsxXCWgAEy1F_.png" data-toggle="tooltip" data-placement="top"
                   title="Hihi">
              <img src="https://pbs.twimg.com/media/C1OsxXCWgAEy1F_.png" data-toggle="tooltip" data-placement="top"
                   title="Hihi">
              <img src="https://pbs.twimg.com/media/C1OsxXCWgAEy1F_.png" data-toggle="tooltip" data-placement="top"
                   title="Hihi">
              <img src="https://pbs.twimg.com/media/C1OsxXCWgAEy1F_.png" data-toggle="tooltip" data-placement="top"
                   title="Hihi">
              <img src="https://pbs.twimg.com/media/C1OsxXCWgAEy1F_.png" data-toggle="tooltip" data-placement="top"
                   title="Hihi">
            </div>
          </div>
          <div class="follower">
            <p>4 users is followed by Script Eden:</p>
            <div class="follower-image">
              <img src="https://pbs.twimg.com/media/C1OsxXCWgAEy1F_.png" data-toggle="tooltip" data-placement="top"
                   title="Hihi">
              <img src="https://pbs.twimg.com/media/C1OsxXCWgAEy1F_.png" data-toggle="tooltip" data-placement="top"
                   title="Hihi">
              <img src="https://pbs.twimg.com/media/C1OsxXCWgAEy1F_.png" data-toggle="tooltip" data-placement="top"
                   title="Hihi">
              <img src="https://pbs.twimg.com/media/C1OsxXCWgAEy1F_.png" data-toggle="tooltip" data-placement="top"
                   title="Hihi">
            </div>
          </div>
          <div class="follower">
            <p>Tags:</p>
            <div class="follow-tag">
              <a>Javascript</a>
              <a>NodeJS</a>
              <a>Spring</a>
              <a>AI</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-xs-12">
        <div class="chart col-xs-12" style="text-align: center">
          <pie-chart class="col-xs-8" [data]="data" [config]="config" [elementId]="elementId"></pie-chart>
        </div>
        <div class="statistics-info col-xs-12">
          <div class="col-lg-4 col-xs-4">
            <p>BOOKMARK</p>
            <p class="statistics-num">230</p>
          </div>
          <div class="col-lg-4 col-xs-4">
            <p>COMMENT</p>
            <p class="statistics-num">29955</p>
          </div>
          <div class="col-lg-4 col-xs-4">
            <p>VIEW</p>
            <p class="statistics-num">129955</p>
          </div>
        </div>

      </div>
    </div>


    <div *ngIf="currentUser.userId === currentProfile.userId" [hidden]="profileMode!==2"
         class="emp-profile profile-update container">
      <form method="post">
        <div class="row">
          <div class="col-md-4">
            <div class="profile-img">
              <img
                src="{{imgUrl?imgUrl:'http://localhost:8080/files/default-avatar.png'}}"
                alt="avatar"/>
              <div class="file btn btn-primary" (click)="file.click()">
                {{this.translate.data.button.change | translate}}
                <input type="file" accept="image/*" #file [hidden]="true" (change)="readUrl($event)">
              </div>
            </div>

            <div class="profile-work">
              <p class="text-center">{{this.translate.data.label.link | translate}}</p>
              <div class="form-row">
                <label style="font-size: 12px; font-weight: 600"
                       class="form-group col-md-3">{{this.translate.data.label.github | translate}}</label>
                <div class="form-group col-md-9 cross-validation">
                  <input type="text" class="form-control" name="github"
                         [(ngModel)]="currentProfile.githubLink">
                </div>
              </div>
              <div class="form-row">
                <label style="font-size: 12px; font-weight: 600"
                       class="form-group col-md-3">{{this.translate.data.label.website | translate}}</label>
                <div class="form-group col-md-9 cross-validation">
                  <input type="text" class="form-control" name="website"
                         [(ngModel)]="currentProfile.websiteLink">
                </div>
              </div>
            </div>

          </div>
          <div class="col-md-8">
            <div class="profile-head">
              <!--<p class="proile-rating">RANKINGS : <span>8/10</span></p>-->
              <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                     aria-controls="home" aria-selected="true">{{this.translate.data.label.about | translate}}</a>
                </li>
                <!--<li class="nav-item">-->
                <!--<a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"-->
                <!--aria-controls="profile" aria-selected="false">Timeline</a>-->
                <!--</li>-->
              </ul>

              <div class="tab-content profile-tab" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">

                  <div class="row">

                    <label class="form-group col-md-2">{{this.translate.data.label.first_name | translate}}</label>

                    <div class="form-group col-md-4 cross-validation"
                         [class.cross-validation-error]="firstName.touched || firstName.dirty">
                      <input id="firstName" name="firstName"
                             class="form-control" type="text" #firstName="ngModel"
                             [(ngModel)]="currentProfile.firstName"
                             [required]="true"
                             [pattern]="namePattern">

                      <div *ngIf="firstName.touched">
                        <span class="help-block" *ngIf="firstName.value === ''">
                          {{this.translate.data.validation.first_name.required | translate}}
                        </span>
                        <span class="help-block" *ngIf="firstName.errors?.pattern">
                          {{this.translate.data.validation.first_name.pattern | translate}}
                        </span>
                      </div>
                    </div>

                    <label class="form-group col-md-2">{{this.translate.data.label.last_name | translate}}</label>

                    <div class="form-group col-md-4 cross-validation"
                         [class.cross-validation-error]="lastName.touched || lastName.dirty">
                      <input type="text" class="form-control" id="lastName" name="lastName"
                             #lastName="ngModel" [(ngModel)]="currentProfile.lastName" [required]="true"
                             [pattern]="namePattern">

                      <div *ngIf="lastName.touched">
                        <span class="help-block" *ngIf="lastName.value === ''">
                          {{this.translate.data.validation.last_name.required | translate}}
                        </span>
                        <span class="help-block" *ngIf="lastName.errors?.pattern">
                          {{this.translate.data.validation.last_name.pattern | translate}}
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="form-row">
                    <label class="form-group col-md-2">{{this.translate.data.label.company | translate}}</label>
                    <div class="form-group col-md-10 cross-validation">
                      <input type="text" class="form-control" name="company"
                             maxlength="255"
                             #company="ngModel" [(ngModel)]="currentProfile.company">
                    </div>
                  </div>
                  <div class="form-row">
                    <label class="form-group col-md-2">{{this.translate.data.label.position | translate}}</label>
                    <div class="form-group col-md-10 cross-validation">
                      <input type="text" class="form-control" name="position"
                             maxlength="255"
                             #position="ngModel" [(ngModel)]="currentProfile.position">
                    </div>
                  </div>

                  <div class="form-row">
                    <label class="form-group col-md-2">{{this.translate.data.label.description | translate}}</label>
                    <div class="form-group col-md-10 cross-validation">
                     <textarea type="text" class="form-control" id="description" name="description"
                               #description="ngModel" [(ngModel)]="currentProfile.description"
                               maxlength="1000"
                               style="height: 150px">
                  </textarea>
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                  <div class="row">
                    <div class="col-md-6">
                      <label>Experience</label>
                    </div>
                    <div class="col-md-6">
                      <p>Expert</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <label>Hourly Rate</label>
                    </div>
                    <div class="col-md-6">
                      <p>10$/hr</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <label>Total Projects</label>
                    </div>
                    <div class="col-md-6">
                      <p>230</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <label>English Level</label>
                    </div>
                    <div class="col-md-6">
                      <p>Expert</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <label>Availability</label>
                    </div>
                    <div class="col-md-6">
                      <p>6 months</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <label>Your Bio</label><br/>
                      <p>Your detail description</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="currentUser.userId === currentProfile.userId" class="col-md-12 text-right">
            <input type="submit" class="profile-edit-btn" name="btnUpdateProfile" (click)="updateProfile()"
                   value="{{this.translate.data.button.update | translate}}"/>
          </div>
        </div>
      </form>
    </div>

    <hr>
    <div class="profile-post">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bhoechie-tab-container">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bhoechie-tab-menu">
            <div class="list-group col-lg-12 col-md-12">
              <a href="#" class="list-group-item active text-center col-lg-3" (click)="getUserArticle(1)">
                <h4 class="fa fa-newspaper-o"></h4><br/>Article
              </a>
              <a href="#" class="list-group-item text-center col-lg-3" (click)="getUserArticle(2)">
                <h4 class="fa fa-question"></h4><br/>Question
              </a>
              <a href="#" class="list-group-item text-center col-lg-3" (click)="getUserComment()">
                <h4 class="fa fa-reply"></h4><br/>Answer
              </a>
              <a href="#" class="list-group-item text-center col-lg-3"
                 (click)="getListBookmarkArticle(1,pagingRequestBookmark.sortCase,pagingRequestBookmark.ascSort)">
                <h4 class="fa fa-paperclip"></h4><br/>Bookmark
              </a>
            </div>
          </div>
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bhoechie-tab">
            <!-- flight section -->
            <div class="bhoechie-tab-content active post-area">

              <h3 class="nothing" *ngIf="articles.length === 0">There is nothing here.</h3>

              <div class="posts" *ngFor="let post of articles; let i = index;">

                <div class="post-item">

                  <div class="avatar">
                    <img src="{{post.avatar}}"
                         alt="No avt" class="img-responsive">
                  </div>

                  <div class="post-left">
                    <div class="post-author">
                      <span class="post-author-name"><b>{{post.firstName}} {{post.lastName}}</b></span>
                      <span class="post-time">&nbsp; {{post.createDate | date: 'MM/dd/yyyy HH:mm'}}</span>
                    </div>

                    <div class="post-detail">
                      <div class="post-title">
                        <a href="#" [routerLink]="['/post/' + post.articleId]" class="wrap">{{post.title}}</a>
                        <i *ngIf="(post.type === 2 && post.rightAnswerId !== '')" class="fa fa-check-circle"></i>
                      </div>

                      <div class="tags">
                        <a *ngFor="let tag of post.tags; let j = index;" href="javascript:void(0)"
                           [routerLink]="['/tag/' + tag.tagId]" class="bg-4f80b0">{{tag.tagName}}</a>
                      </div>
                    </div>

                    <div class="post-info clearfix">
                      <div class="stats">
                <span class="stats-item text-muted" data-tippy="" data-original-title="Views"
                      aria-describedby="tippy-285">
                <i aria-hidden="true" class="fa fa-eye"></i>&nbsp;{{post.viewCount}}</span>
                        <span class="stats-item text-muted" data-tippy="" data-original-title="Clips">
                <i aria-hidden="true" class="fa fa-bookmark"></i>&nbsp;{{post.bookmarkCount}}</span>
                        <span class="stats-item text-muted" data-tippy="" data-original-title="Comments">
                <i aria-hidden="true" class="fa fa-comments"></i>&nbsp;{{post.commentNum}}</span>
                      </div>

                    </div>
                  </div>

                  <div class="post-right">
                    <div class="upvote text-muted">
                      <i class="fa fa-chevron-up"></i>
                      <p><span *ngIf="post.rating > 0">+</span>{{post.rating}}</p>
                      <i class="fa fa-chevron-down"></i>
                    </div>
                  </div>

                </div>

              </div>

              <!-- paging for article -->
              <div class="row" *ngIf="collectionSize > 10">
                <ngb-pagination [collectionSize]="collectionSize" [pageSize]="pagingRequest.pageSize"
                                [(page)]="pagingRequest.pageNumber"
                                (pageChange)="getUserArticle(pagingRequest.type)"
                                class="pagination-flat pagination-primary col-center-block">
                </ngb-pagination>
              </div>
            </div>
            <!-- train section -->
            <div class="bhoechie-tab-content post-area">

              <h3 class="nothing" *ngIf="articles.length === 0">There is nothing here.</h3>

              <div class="posts" *ngFor="let post of articles; let i = index;">

                <div class="post-item">

                  <div class="avatar">
                    <img src="{{post.avatar}}"
                         alt="No avt" class="img-responsive">
                  </div>

                  <div class="post-left">
                    <div class="post-author">
                      <span class="post-author-name"><b>{{post.firstName}} {{post.lastName}}</b></span>
                      <span class="post-time">&nbsp; {{post.createDate | date: 'MM/dd/yyyy HH:mm'}}</span>
                    </div>

                    <div class="post-detail">
                      <div class="post-title">
                        <a href="#" [routerLink]="['/post/' + post.articleId]" class="wrap">{{post.title}}</a>
                        <i *ngIf="(post.type === 2 && post.rightAnswerId !== '')" class="fa fa-check-circle"></i>
                      </div>

                      <div class="tags">
                        <a *ngFor="let tag of post.tags; let j = index;" href="javascript:void(0)"
                           [routerLink]="['/tag/' + tag.tagId]" class="bg-4f80b0">{{tag.tagName}}</a>
                      </div>
                    </div>

                    <div class="post-info clearfix">
                      <div class="stats">
                <span class="stats-item text-muted" data-tippy="" data-original-title="Views"
                      aria-describedby="tippy-285">
                <i aria-hidden="true" class="fa fa-eye"></i>&nbsp;{{post.viewCount}}</span>
                        <span class="stats-item text-muted" data-tippy="" data-original-title="Clips">
                <i aria-hidden="true" class="fa fa-bookmark"></i>&nbsp;{{post.bookmarkCount}}</span>
                        <span class="stats-item text-muted" data-tippy="" data-original-title="Comments">
                <i aria-hidden="true" class="fa fa-comments"></i>&nbsp;{{post.commentNum}}</span>
                      </div>

                    </div>
                  </div>

                  <div class="post-right">
                    <div class="upvote text-muted">
                      <i class="fa fa-chevron-up"></i>
                      <p><span *ngIf="post.rating > 0">+</span>{{post.rating}}</p>
                      <i class="fa fa-chevron-down"></i>
                    </div>
                  </div>

                </div>

              </div>

              <!-- paging for article -->
              <div class="row" *ngIf="collectionSize > 10">
                <ngb-pagination [collectionSize]="collectionSize" [pageSize]="pagingRequest.pageSize"
                                [(page)]="pagingRequest.pageNumber"
                                (pageChange)="getUserArticle(pagingRequest.type)"
                                class="pagination-flat pagination-primary col-center-block">
                </ngb-pagination>
              </div>

            </div>

            <!-- hotel search -->
            <div class="bhoechie-tab-content post-area">

              <h3 class="nothing" *ngIf="comments.length === 0">There is nothing here.</h3>

              <div class="posts" *ngFor="let comment of comments; let i = index;">

                <div class="post-item">

                  <div class="avatar">
                    <img src="{{comment.avatar}}"
                         alt="No avt" class="img-responsive">
                  </div>

                  <div class="post-left">
                    <div class="post-author">
                      <span class="post-author-name"><b>{{comment.firstName}} {{comment.lastName}}</b></span>
                      <span class="post-time">&nbsp; comment on </span>
                      <a class="post-time" href="javascript:void(0)"
                         [routerLink]="['/post/' + comment.articleId]">&nbsp;
                        <b>{{comment.articleTitle}}</b> </a>
                      <span class="post-time">&nbsp; {{comment.createDate | date: 'MM/dd/yyyy HH:mm'}}</span>
                    </div>

                    <div class="post-detail">
                      <div class="post-title">
                        <span>{{ (comment.content.length > 250) ? (comment.content | slice:0:250)+'...' : (comment.content) }}</span>
                      </div>
                    </div>

                    <div class="post-info clearfix">
                      <div class="stats">
                        <span class="stats-item text-muted">
                          <i aria-hidden="true" class="fa fa-heart"></i>&nbsp;{{comment.numOfHeart}}
                        </span>
                        <span class="stats-item text-muted">
                          <i aria-hidden="true" class="fa fa-reply"></i>&nbsp;{{comment.numOfReply}}
                        </span>
                        <span class="stats-item text-muted">
                          <i *ngIf="(comment.articleType === 2 && comment.rightAnswer)" class="fa fa-check-circle"></i>
                        </span>
                      </div>
                    </div>

                  </div>

                </div>

              </div>

              <!-- paging for article -->
              <div class="row" *ngIf="collectionSize > 10">
                <ngb-pagination [collectionSize]="collectionSize" [pageSize]="pagingRequestComment.pageSize"
                                [(page)]="pagingRequestComment.pageNumber"
                                (pageChange)="getUserComment()"
                                class="pagination-flat pagination-primary col-center-block">
                </ngb-pagination>
              </div>

            </div>
            <div class="bhoechie-tab-content post-area">

              <!-- list post by bookmark -->
              <div>

                <div class="panel-group">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" href="#filterBookmark">
                          Filter
                        </a>
                        <a id="test" class="pull-right" data-toggle="collapse" href="#filterBookmark">
                          <span class="fa fa-filter"></span>
                        </a>
                      </h4>
                    </div>

                    <div id="filterBookmark" class="panel-collapse collapse in">
                      <div class="panel-body">
                        <div class="filter-setting">

                          <div class="form-row">
                            <label class="col-xs-4">Article Type</label>
                            <div class="col-xs-8">
                              <div class="input-group">
                                <div class="btn-group">
                                  <button class="btn btn-primary btn-sm"
                                          (click)="getListBookmarkArticle(1,pagingRequestBookmark.sortCase,
                                                    pagingRequestBookmark.ascSort)"
                                          [ngClass]="pagingRequestBookmark.type === 1 ? 'active' :'notActive'">Article</button>
                                  <button class="btn btn-primary btn-sm"
                                          (click)="getListBookmarkArticle(2,pagingRequestBookmark.sortCase,
                                                    pagingRequestBookmark.ascSort)"
                                          [ngClass]="pagingRequestBookmark.type === 2 ? 'active' :'notActive'">Question</button>
                                </div>
                              </div>
                            </div>
                          </div>
                          <hr class="line"/>

                          <div class="form-row">
                            <label class="col-xs-4">Date Type</label>
                            <div class="col-xs-8">
                              <div class="input-group">
                                <div class="btn-group">
                                  <a class="btn btn-primary btn-sm"
                                     (click)="getListBookmarkArticle(
                                                    pagingRequestBookmark.type,
                                                    1,
                                                    pagingRequestBookmark.ascSort)"
                                     [ngClass]="pagingRequestBookmark.sortCase === 1 ? 'active' :'notActive'">Bookmark Date</a>
                                  <a class="btn btn-primary btn-sm"
                                     (click)="getListBookmarkArticle(
                                                    pagingRequestBookmark.type,
                                                    2,
                                                    pagingRequestBookmark.ascSort)"
                                     [ngClass]="pagingRequestBookmark.sortCase === 2 ? 'active' :'notActive'">Create Date</a>
                                </div>
                              </div>
                            </div>
                          </div>
                          <hr class="line"/>

                          <div class="form-row">
                            <label class="col-xs-4">Sort Date</label>
                            <div class="col-xs-8">
                              <div class="input-group">
                                <div class="btn-group">
                                  <a class="btn btn-primary btn-sm"
                                     (click)="getListBookmarkArticle(
                                                    pagingRequestBookmark.type,
                                                    pagingRequestBookmark.sortCase,
                                                    false)"
                                     [ngClass]="pagingRequestBookmark.ascSort === false ? 'active' :'notActive'">Latest</a>
                                  <a class="btn btn-primary btn-sm"
                                     (click)="getListBookmarkArticle(
                                                    pagingRequestBookmark.type,
                                                    pagingRequestBookmark.sortCase,
                                                    true)"
                                     [ngClass]="pagingRequestBookmark.ascSort === true ? 'active' :'notActive'">Oldest</a>
                                </div>
                              </div>
                            </div>
                          </div>
                          <hr class="line"/>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <h3 class="nothing" *ngIf="bookmarks.length === 0">There is nothing here.</h3>

                <div class="posts" *ngFor="let bookmark of bookmarks; let i = index;">

                  <div class="post-item">

                    <div class="avatar">
                      <img src="https://bootstrapmade.com/wp-content/themefiles/Moderna/400.png"
                           alt="no avt" class="img-responsive">
                    </div>

                    <div class="post-left">
                      <div class="post-author">
                  <span
                    class="post-author-name"><b>{{bookmark.article.firstName}} {{bookmark.article.lastName}}</b></span>
                        <span class="post-time">&nbsp; {{bookmark.article.createDate | date: 'MM/dd/yyyy HH:mm'}}</span>
                      </div>

                      <div class="post-detail">
                        <div class="post-title">
                          <a href="#" [routerLink]="['/post/' + bookmark.article.articleId]"
                             class="wrap">{{bookmark.article.title}}</a>
                          <i *ngIf="(bookmark.article.type === 2 && bookmark.article.rightAnswerId !== '')"
                             class="fa fa-check-circle"></i>
                        </div>

                        <div class="tags">
                          <a *ngFor="let tag of bookmark.article.tags; let j = index;" href="javascript:void(0)"
                             [routerLink]="['/tag/' + tag.tagId]" class="bg-4f80b0">{{tag.tagName}}</a>
                        </div>
                      </div>

                      <div class="post-info clearfix">
                        <div class="stats">
                <span class="stats-item text-muted" data-tippy="" data-original-title="Views"
                      aria-describedby="tippy-285">
                <i aria-hidden="true" class="fa fa-eye"></i>&nbsp;{{bookmark.article.viewCount}}</span>
                          <span class="stats-item text-muted" data-tippy="" data-original-title="Clips">
                <i aria-hidden="true" class="fa fa-bookmark"></i>&nbsp;{{bookmark.article.bookmarkCount}}</span>
                          <span class="stats-item text-muted" data-tippy="" data-original-title="Comments">
                <i aria-hidden="true" class="fa fa-comments"></i>&nbsp;{{bookmark.article.commentNum}}</span>
                          <span><i>( Bookmark Date: {{bookmark.bookmarkDate | date : 'MM/dd/yyyy HH:mm'}} )</i></span>
                        </div>

                      </div>
                    </div>

                    <div class="post-right">
                      <div class="upvote text-muted">
                        <i class="fa fa-chevron-up"></i>
                        <p><span *ngIf="bookmark.article.rating > 0">+</span>{{bookmark.article.rating}}</p>
                        <i class="fa fa-chevron-down"></i>
                      </div>
                    </div>

                  </div>

                </div>
              </div>

              <!-- paging for bookmark -->
              <div class="row" *ngIf="collectionSize > 10">
                <ngb-pagination [collectionSize]="collectionSize" [pageSize]="pagingRequestBookmark.pageSize"
                                [(page)]="pagingRequestBookmark.pageNumber"
                                (pageChange)="getListBookmarkArticle(
                                                      pagingRequestBookmark.type,
                                                      pagingRequestBookmark.sortCase,
                                                      pagingRequestBookmark.ascSort)"
                                class="pagination-flat pagination-primary col-center-block">
                </ngb-pagination>
              </div>

            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>


