<!--Navbar-->
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">

  <div class="container">
    <!-- Navbar brand -->
    <a class="navbar-brand" href="#">Shared</a>

    <!-- Collapse button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNav" aria-controls="mainNav"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="mainNav">
      <!-- Links -->
      <ul class="navbar-nav mr-auto">
      </ul>
      <!-- Links -->

      <ul class="navbar-nav ml-auto">
        <li class="nav-item" *ngIf="authBaseService.isLoggedIn()">
          <div class="item-icon">
            <a class="nav-link" href="javascript:;;" [routerLink]="['/products/favourite-products']">
              <i class="fa fa-pencil"></i>
              <span class="mt-2 text-white"> {{translate.data.post.new_post | translate}}</span>
            </a>
          </div>

        </li>
        <li class="nav-item" *ngIf="authBaseService.isLoggedIn()">
          <div class="item-icon">
            <a class="nav-link" href="javascript:;;" [routerLink]="['/products/cart-items']">
              <i class="fa fa-archive"></i>
              <span class="mt-2 text-white"> {{translate.data.post.store | translate}}</span>
            </a>
          </div>
        </li>

        <li class="nav-item active" *ngIf="authBaseService.isLoggedIn()">
          <a class="nav-link" href="javascript:;;">
            <i class="fa fa-envelope mr-2"></i>
            <span class="sr-only">(current)</span>
            <span> Thông báo</span>
          </a>
        </li>

        <li class="nav-item button-login" *ngIf="!authBaseService.isLoggedIn()">
          <a class="nav-link" href="javascript:;;" [routerLink]="['/login']">
            <i class="fa fa-sign-in mr-1"></i> {{translate.data.user.login | translate}}</a>
        </li>

        <li class="nav-item dropdown" *ngIf="authBaseService.isLoggedIn()">
          <a class="nav-link dropdown-toggle waves-light" href="#" id="drdAccount" role="button"
             data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-user-circle"></i>
            <span>  Bùi Cường</span>
            <span class="caret"></span>
          </a>
          <div class="dropdown-menu dropdown dropdown-primary" aria-labelledby="drdAccount" role="menu">
            <a class="dropdown-item waves-light" href="javascript:;;" [routerLink]="[ '/index/login' ]">
              <i class="fa fa-user mr-1"></i> {{translate.data.user.profile | translate}}</a>
            <a class="dropdown-item waves-light" href="javascript:;;" [routerLink]="[ '/index/login' ]">
              <i class="fa fa-cogs mr-1"></i> {{translate.data.user.setting | translate}}</a>
            <a class="dropdown-item waves-light" href="javascript:;;" (click)="authBaseService.logout()">
              <i class="fa fa-sign-in mr-1"></i> {{translate.data.user.logout | translate}}</a>
          </div>
        </li>

        <li class="nav-item dropdown" style="border-right: none;">
          <a class="nav-link dropdown-toggle waves-light" href="#" id="drdLanguage" role="button"
             data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-globe"></i><span class="caret"></span>
          </a>
          <div class="dropdown-menu dropdown dropdown-primary" aria-labelledby="drdLanguage" role="menu">
            <a class="dropdown-item waves-light" href="javascript:;;" (click)="setLang('en')">
              <i class="fa fa-flag-o mr-2"></i>{{translate.data.language.en | translate}}</a>
            <a class="dropdown-item waves-light" href="javascript:;;" (click)="setLang('vi')">
              <i class="fa fa-flag-o mr-2"></i>{{translate.data.language.vi | translate}}</a>
          </div>
        </li>
      </ul>
    </div>
    <!-- Collapsible content -->
  </div>

</nav>
<!--/.Navbar-->
