.navbar {
  top: 0;
}

.dropdown-menu {
  margin-left: -6rem;
  padding: 0;
  box-shadow: 2px 2px rgba(0,0,0,0.23),0 2px 2px rgba(0,0,0,0.16) !important;
}

.dropdown-item{
  border-bottom: 1px solid #888888;
  padding-top: 5px;
  padding-bottom: 5px;

  i {
    float: none;
    padding-right: 8px;
  }
}

.item-icon i {
  font-size: 13px;
  padding-right: 5px;
}

.navbar-nav li {
  margin-left: 10px;
  padding-right: 2px;
  border-right: 1px solid #888888;
}

.bg-dark {
  background: linear-gradient(120deg, #00a6eb, #2C4762) !important;
}

.button-login:hover {
  cursor: pointer;
}

@media (max-width:767px){
  .dropdown-menu {
    margin-left: 0;
  }
}

