<div class="icon-bar">
  <a href="javascript:void(0)" class="back" (click)="backClicked()">
    <i class="fa fa-arrow-left"></i>
  </a>
  <a href="javascript:void(0)" class="upvote" (click)="interact('rating',1)">
    <i class="fa fa-chevron-up"></i>
  </a>
  <a href="javascript:void(0)" class="mark">
    <span *ngIf="rating > 0">+</span>{{rating}}
  </a>
  <a href="javascript:void(0)" class="downvote" (click)="interact('rating',-1)">
    <i class="fa fa-chevron-down"></i>
  </a>
  <a href="javascript:void(0)" class="bookmark" (click)="interact('bookmark',0)">
    <i class="fa fa-bookmark"></i>
  </a>
  <a href="javascript:void(0)" class="report" role="button" data-toggle="modal" data-target="#modal-report">
    <i class="fa fa-exclamation"></i>
  </a>
</div>


<div id="modal-report" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" textContent="label.report"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <label textContent="label.reason" for="txtReason"></label>
        <textarea id="txtReason" class="form-control" [(ngModel)]="myReport.reason"></textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning text-white"
                [ngClass]="myReport.reason === '' ? 'cursor-disabled' : ''"
                textContent="button.report" (click)="report()" [disabled]="myReport.reason === ''"></button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" textContent="button.close"></button>
      </div>
    </div>
  </div>
</div>

<!--<modal id="modal-report">-->
<!--<div class="modal">-->
<!--<div class="modal-body">-->
<!--<h1>Test</h1>-->
<!--<button (click)="closeModal('modal-report');">Close</button>-->
<!--</div>-->
<!--</div>-->
<!--<div class="modal-background"></div>-->
<!--</modal>-->

<div class="container" style="margin-top: 70px;">

  <div class="row">
    <!-- Blog Post Content Column -->
    <div class="col-md-9">

      <!-- Title -->
      <h2 class="article__title">{{article.title}}</h2>
      <hr>

      <!-- Info Date/Time and Stats -->
      <div class="time__div"><p><span class="fa fa-clock-o"></span>
        <span textContent="label.post_on"></span> {{article.createDate | date: 'MM/dd/yyyy HH:mm'}}</p></div>
      <div class="stat__div">
        <span class="stats-item text-muted" data-tippy="" data-original-title="Views"
              aria-describedby="tippy-285">
                <i aria-hidden="true" class="fa fa-eye"></i>&nbsp;{{article.viewCount}}</span>
        <span class="stats-item text-muted" data-tippy="" data-original-title="Clips">
                <i aria-hidden="true" class="fa fa-bookmark"></i>&nbsp;{{bookmarkCount}}</span>
        <span class="stats-item text-muted" data-tippy="" data-original-title="Comments">
                <i aria-hidden="true" class="fa fa-comments"></i>&nbsp;{{commentCount}}</span>
      </div>
      <div class="clearfix"></div>
      <hr>

      <!-- Content of Post -->
      <div [innerHTML]="this.article.content | safeHtml"></div>
      <hr>

      <!-- Author -->
      <div class="author-biografia">
        <img class="avatar-author img-fluid rounded"
             src="https://bootstrapmade.com/wp-content/themefiles/Moderna/400.png">

        <div class="author-info">
          <h5><span textContent="label.author"></span>: <a href="javascript:void(0)"
                                                           [routerLink]="['/profile/' + author.userName]"
                                                           target="_blank">
            <span *ngIf="lang === 'vi'">{{author.lastName}} {{author.firstName}}</span>
            <span *ngIf="lang === 'en'">{{author.firstName}} {{author.lastName}}</span>
          </a></h5>
          <p class="alert alert-success">
            <span textContent="label.join_date"></span><span> {{author.createDate | date:'MM/dd/yyyy'}}</span>
          </p>

          <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Follow
              <span class="badge badge-primary badge-pill">25</span>
            </li>

            <li class="list-group-item d-flex justify-content-between align-items-center">
              Posts
              <span class="badge badge-primary badge-pill">3</span>
            </li>

            <li class="list-group-item d-flex justify-content-between align-items-center">
              Award
              <span class="badge badge-primary badge-pill">100</span>
            </li>
          </ul>

        </div>
      </div>
      <hr>


      <!-- Blog Comments -->
      <!-- Comments Form -->
      <div class="widget-area-comment no-padding blank">
        <div class="status-upload">
          <form>
            <textarea name="txtNewComment" [(ngModel)]="newComment.content"
                      textPlaceHolder="label.share_now"></textarea>
            <!--<ul>-->
            <!--<li><a title="" data-toggle="tooltip" data-placement="bottom" data-original-title="Audio"><i-->
            <!--class="fa fa-music"></i></a></li>-->
            <!--<li><a title="" data-toggle="tooltip" data-placement="bottom" data-original-title="Video"><i-->
            <!--class="fa fa-video-camera"></i></a></li>-->
            <!--<li><a title="" data-toggle="tooltip" data-placement="bottom" data-original-title="Sound Record"><i-->
            <!--class="fa fa-microphone"></i></a></li>-->
            <!--<li><a title="" data-toggle="tooltip" data-placement="bottom" data-original-title="Picture"><i-->
            <!--class="fa fa-picture-o"></i></a></li>-->
            <!--</ul>-->
            <button type="submit" class="btn btn-shared green" (click)="addComment(null)">
              <i class="fa fa-share"></i> <span textContent="button.comment"></span>
            </button>
          </form>
        </div><!-- Status Upload  -->
      </div><!-- Widget Area -->
      <hr>

      <div class="comments-container">
        <h1 textContent="label.comment"></h1>

        <ul id="comments-list" class="comments-list" style="padding: 0;">
          <li id="{{comment.commentId}}" *ngFor="let comment of listComments; let i = index;">
            <div class="comment-main-level">

              <div class="comment-avatar">
                <img src="http://i9.photobucket.com/albums/a88/creaticode/avatar_1_zps8e1c80cd.jpg" alt="">
              </div>

              <div class="comment-box">

                <div class="comment-head">
                  <h6 class="comment-name" [ngClass]="{ 'by-author' : comment.userId === article.userId }">
                    <a href="http://creaticode.com/blog">
                      {{comment.userDetail.firstName}} {{comment.userDetail.lastName}}
                    </a>
                  </h6>
                  <span> <span textContent="label.comment_at"></span> {{comment.createDate | date: 'MM/dd/yyyy HH:mm'}}</span>
                  <i class="fa fa-reply"></i>
                  <i class="fa fa-heart"></i>
                </div>

                <div class="comment-content">
                  {{comment.content}}
                </div>

              </div>
            </div>
            <!-- Respuestas de los comentarios -->
            <ul class="comments-list reply-list">
              <li id="{{childComment.commentId}}" *ngFor="let childComment of comment.childComments; let j = index;">
                <!-- Avatar -->
                <div class="comment-avatar">
                  <img src="http://i9.photobucket.com/albums/a88/creaticode/avatar_2_zps7de12f8b.jpg" alt="">
                </div>
                <div class="comment-box">
                  <div class="comment-head">
                    <h6 class="comment-name" [ngClass]="{ 'by-author' : childComment.userId === article.userId }">
                      <a href="http://creaticode.com/blog">
                        {{childComment.userDetail.firstName}} {{childComment.userDetail.lastName}}
                      </a>
                    </h6>
                    <span> <span textContent="label.comment_at"></span> {{childComment.createDate | date: 'MM/dd/yyyy HH:mm'}}</span>
                    <i class="fa fa-reply"></i>
                    <i class="fa fa-heart"></i>
                  </div>
                  <div class="comment-content">
                    {{childComment.content}}
                  </div>
                </div>
              </li>

            </ul>
          </li>
        </ul>
      </div>


    </div>

    <!-- Blog Sidebar Widgets Column -->
    <div id="sidebar" class="col-md-3">

      <div class="tags">
        <div class="panel table-contents">
          <h4 textContent="label.table_of_content"></h4>
          <hr>
          <ul>
            <li *ngFor="let heading of this.headingTag; let i = index;">
              <a href="{{heading.id}}">{{heading.base}}</a>
            </li>
          </ul>
          <p *ngIf="this.headingTag.length === 0">Không có bảng nội dung</p>
        </div>
      </div>

      <div class="tags">
        <div class="panel">
          <h4 textContent="label.tags"></h4>
          <hr>
          <a id="{{tag.tagId}}" href="#" [routerLink]="['/tags/' + tag.tagId]"
             *ngFor="let tag of this.article.tagList; let i = index;">
            <span class="tag">{{tag.tagName}}</span>
          </a>
        </div>
      </div>

    </div>
  </div>
</div>



