<footer>
  <div class="footer" id="footer">
    <div class="container">
      <div class="row">

        <div class="col-lg-4 col-xs-12">
          <span class="logo" textContent="logo"></span>
        </div>
        <div class="col-lg-4 col-xs-12">
          <h3 textContent="footer.introduction"></h3>
          <ul>
            <li><a href="#" textContent="footer.home"></a></li>
            <li><a href="#" textContent="footer.team"></a></li>
            <li><a href="#" textContent="footer.term"></a></li>
          </ul>
        </div>
        <div class="col-lg-4 col-xs-12">
          <h3 textContent="footer.contact"></h3>
          <ul>
            <li><a href="#" textContent="footer.email"></a></li>
            <li><a href="#" textContent="footer.github"></a></li>
            <li><a href="#" textContent="footer.linkedin"></a></li>
          </ul>
        </div>

      </div>
    </div>
  </div>
</footer>

<div class="footer-bottom">
  <p textContent="footer.all_right"></p>
</div>
