<div class="row">
  <div class="col-lg-12 grid-margin">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">User Detail</h4>
        <div class="row">
          <div class="col-md-6" style="margin-top: 1rem">
            <label class="col-3"><b>Title:</b></label>
            <span class="col-9">I love you babe</span>
          </div>
          <div class="col-md-6" style="margin-top: 1rem">
            <label class="col-3"><b>Marked Tags:</b></label>
            <span class="col-9 tag-container">
            <label class="badge badge-pill badge-primary">
              JS
            </label>
            <label class="badge badge-pill badge-primary">
              AI
            </label>
          </span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6" style="margin-top: 1rem">
            <label class="col-3"><b>Author:</b></label>
            <span class="col-9">Ngoc Huy Pham</span>
          </div>
          <div class="col-md-6" style="margin-top: 1rem">
            <label class="col-3"><b>Created At:</b></label>
            <span class="col-9">19/12/2018 10:26 PM</span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6" style="margin-top: 1rem">
            <label class="col-3"><b>Type:</b></label>
            <span class="col-9">
              <label class="badge badge-pill badge-primary">
              Question
            </label>
            </span>
          </div>
          <div class="col-md-6" style="margin-top: 1rem">
            <label class="col-3"><b>Status:</b></label>
            <span class="col-9">
            <label class="badge badge-pill badge-primary">
              Pending
            </label>
          </span>
          </div>
        </div>
        <div class="row text-right">
          <div class="col-md-12 template-demo" style="display: inline-block; margin-top: 1rem">
            <button class="btn btn-danger btn-rounded btn-fw" type="button">Ban User</button>
            <button class="btn btn-danger btn-rounded btn-fw" type="button">Reject Post</button>
            <button class="btn btn-success btn-rounded btn-fw" type="button">Accept Post</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-12 grid-margin">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">List user post</h4>
        <div class="post-content">
          This is post content
        </div>
      </div>
    </div>
  </div>
</div>
