<div id="all-tags" class="container contact-form">
  <form method="post">
    <h3>All Tags in Forum</h3>

    <div class="panel-group">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" href="#filterBookmark" textContent="label.sort.filter"></a>
            <a id="test" class="pull-right" data-toggle="collapse" href="#filterBookmark">
              <span class="fa fa-filter"></span>
            </a>
          </h4>
        </div>

        <div id="filterBookmark" class="panel-collapse collapse in">
          <div class="panel-body">
            <div class="filter-setting">

              <div class="form-row">
                <label class="col-xs-4" textContent="label.sort.sort_type"></label>
                <div class="col-xs-8">
                  <div class="input-group">
                    <div class="btn-group">
                      <button class="btn btn-primary btn-sm"
                              (click)="getAllTag(pagingRequest.searchKey,2,pagingRequest.ascSort,pagingRequest.pageNumber)"
                              [ngClass]="pagingRequest.sortCase === 2 ? 'active' :'notActive'"
                              textContent="label.sort.no_article"></button>
                      <button class="btn btn-primary btn-sm"
                              (click)="getAllTag(pagingRequest.searchKey,3,pagingRequest.ascSort,pagingRequest.pageNumber)"
                              [ngClass]="pagingRequest.sortCase === 3 ? 'active' :'notActive'"
                              textContent="label.sort.no_question"></button>
                      <button class="btn btn-primary btn-sm"
                              (click)="getAllTag(pagingRequest.searchKey,4,pagingRequest.ascSort,pagingRequest.pageNumber)"
                              [ngClass]="pagingRequest.sortCase === 4 ? 'active' :'notActive'"
                              textContent="label.sort.no_follower"></button>
                      <button class="btn btn-primary btn-sm"
                              (click)="getAllTag(pagingRequest.searchKey,5,pagingRequest.ascSort,pagingRequest.pageNumber)"
                              [ngClass]="pagingRequest.sortCase === 5 ? 'active' :'notActive'"
                              textContent="label.sort.tag_name"></button>
                      <button class="btn btn-primary btn-sm"
                              (click)="getAllTag(pagingRequest.searchKey,1,pagingRequest.ascSort,pagingRequest.pageNumber)"
                              [ngClass]="pagingRequest.sortCase === 1 ? 'active' :'notActive'"
                              textContent="label.sort.create_date"></button>
                    </div>
                  </div>
                </div>
              </div>
              <hr class="line"/>

            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row text-center">
      <div class="topic-container col-6 col-sm-4 col-md-3 text-center"
           *ngFor="let tag of tagList; let i = index;">
        <div class="col-xs-12 col-md-12 topic-label">
          <h4><a href="javascript:void(0)" [routerLink]="['/tag/'+tag.tagId]">{{tag.tagName}}</a></h4>
          <div class="top-author-stat" style="margin-top: 10px">
                    <span class="stats-item text-muted">
                    <i aria-hidden="true" class="fa fa-newspaper-o"></i>&nbsp;{{tag.numOfArticle}}</span>
            <span class="stats-item text-muted">
                        <i aria-hidden="true" class="fa fa-question-circle"></i>&nbsp;{{tag.numOfQuestion}}</span>
            <span class="stats-item text-muted">
                        <i aria-hidden="true" class="fa fa-star"></i>&nbsp;{{tag.numOfFollower}}</span>
          </div>
          <div [ngStyle]="{'background': tag.followStatus ? '#34CF7A' : '#2589cc'}"
               class="follow" (click)="followAction(tag.tagId, tag.followStatus)">
            <i class="fa fa-star" *ngIf="tag.followStatus == false"></i> &nbsp;
            <span *ngIf="tag.followStatus == false" textContent="tag.label.follow"></span>
            <i class="fa fa-check" *ngIf="tag.followStatus == true"></i> &nbsp;
            <span *ngIf="tag.followStatus == true" textContent="tag.label.following"></span>
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-5rem">
      <div class="col-6 m-auto">
        <a href="javascript:void(0)" *ngIf="pagingRequest.pageNumber !== 1"
           (click)="getAllTag(pagingRequest.searchKey,pagingRequest.sortCase,
                                      pagingRequest.ascSort,pagingRequest.pageNumber - 1)"
           class="previous float-right">&laquo; <span textContent="label.previous"></span></a>
      </div>
      <div class="col-6 m-auto">
        <a href="javascript:void(0)" *ngIf="tagList.length === 20"
           (click)="getAllTag(pagingRequest.searchKey,pagingRequest.sortCase,
                                      pagingRequest.ascSort,pagingRequest.pageNumber + 1)"
           class="next float-left"><span textContent="label.next"></span> &raquo;</a>
      </div>
    </div>
  </form>
</div>
